:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
}

.fs-medium {
  font-size: 40px;
}

.fs-big {
  font-size: 75px;
}

.fs-verybig {
  font-size: 75px;
}
p {
  font-size: 14px !important;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 27px;
  margin-bottom: 20px;
  justify-content: center;
}

.navigation-links a {
  margin: 15px;
  border-radius: 4px;
  padding: 16px 11px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  color: #0a5ad9;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  color: #0a5ad9;
  border-color: #0a5ad9;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.fs-small {
  font-size: 12px;
}

.ms-big {
  margin-left: 65px;
}
.fs-link {
  font-size: 14px;
}

.app-button {
  background-color: var(--primary-color) !important;
  color: white;
  border: 1px solid;
  border-color: var(--primary-color);
  font-size: 13px !important;
  padding: 15px 12px !important;
  box-shadow: var(--box-shadow) !important;
  border-radius: 3px !important;
  margin-bottom: 10px;
}

button:hover {
  color: #0a5ad9 !important;
}

.app-description {
  font-size: 16px !important;
}

@media (max-width: 700px) {
  h1 {
    font-size: 50px !important;
  }
  h2 {
    font-size: 25px !important;
  }
  .aboutpage h3 {
    font-size: 20px !important;
    text-align: center;
    max-width: 300px !important;
    display: block !important;
    margin: 10px auto 0 !important;
  }
  .aboutpage p {
    margin: 20px;
    text-align: center;
  }
  .aboutpage img {
    margin-bottom: 20px;
  }
  .aboutpage .yogurt-app {
    margin-bottom: 0px;
  }
  .overviewpage h3 {
    font-size: 20px !important;
    text-align: center;
    max-width: 300px !important;
    display: block !important;
    margin: 10px auto 0 !important;
  }

  .overviewpage h2,
  p {
    text-align: center;
  }

  .overviewpage .app-button {
    display: block;
    margin: 0 auto;
  }
}
